{% extends 'base.html' %}

{% block title %}

    Проектная работа

{% endblock %}

{% block content %}
<h1>Проектная работа</h1>
<div class="content">
    Сайт создал для школьного проекта и представляет собой портал для ознакомления с устройством компьютера.<br />
    Ссылки для обратной связи:<br>
    *почта от домена*<br>
    VK: <a href="https://vk.com/iinvide">https://vk.com/iinvide</a>
</div>
<h1>Информация о проектной работе</h1> <br />
<div class="content">
    Целью проектной работы является создание и поддержание функционирования web-сайта для размещения информации о современных вычислительных устройствах, и позволяющий пользователям Интернета повысить свой уровень компьютерной грамотности и заинтересованности в данной сфере.
</div>

{% endblock %}