{% extends 'base.html' %}

{% block title %}

    Комплектующие ПК

{% endblock %}

{% block content %}

<h1> Комплектующие компьютера</h1>
<br /> <hr /> <br />
<h1>Центральный Процессор  (CPU)</h1>
<br />
<img src="../static/img/proc.jpg" class="image">
Центральный процессор – микросхема, которая осуществляет обработку информации, выполняет команды пользователя и руководит другими частями компьютера.
Изначально термин центральное процессорное устройство описывал отдельный класс логических машин, предназначенных для выполнения сложных компьютерных программ. Позже он естественным образом был перенесён на сами компьютеры.
<br />
<br />
<h3>Основные характеристики: </h3>
<ul>
    <li> Частота </li>
    <li> Количество ядер </li>
    <li> Количество потоков </li>
</ul>
<br /> <br />

<h1> Материнская плата </h1>
<br />
<img src="../static/img/mplata.jpg" class="image" />
Материнская плата - плата, являющаяся основной с связи компонентов компьютера. На ней располагаются:
<ul>
    <li> Сокет для процессора </li>
    <li> Разъемы под оперативную память </li>
    <li> Чипсет - набор микросхем для обеспечивания совместной работы комплектующих компьютера </li>
    <li> Контроллеры периферийных устройств </li>
    <li> Слоты расширения </li>
</ul>
<br />
<h3> Основные характеристики: </h3>
<ul>
    <li> Форм-фактор - стандарт, определяющий размер материнской платы </li>
    <li> Сокет - слот для процессора, определяющий количество контаков </li>
    <li> Количество слотов расширения и оперативной памяти </li>
</ul>
<br /> <br /> <br>

<h1> Оперативная память (RAM)</h1>
<br />
<img src="../static/img/ram.jpg" class="image" />
Оперативная память - вид компьютерной памяти, используемой компьютером для хранения данных, обрабатываемых процессором. Данный вид памяти является энергозависимым, поэтому при резком отключении от сети данные не сохраняются, что приводит к ошибкам в работе.
<br />
<h3> Основные характеристики: </h3>
<ul>
    <li> Объем </li>
    <li> Частота </li>
    <li> Тип памяти и форм-фактор </li>
</ul>
<br /> <br /> <br>

<h1>Видеокарта (GPU)</h1>
<br />
<img src="../static/img/gpu.jpg" class="image" />
Видеокарта - устройство, отрисовывающее графические данные работы компьютера в вид, удобные для восприятия человеком на экран монитора, а также занимаются формированием самих графических данных, заменяя процессор для ускорения работы.
<br />
<h3> Основные характеристики: </h3>
<ul>
    <li> Мощность графического процессора </li>
    <li> Тип и объем видеопамяти </li>
    <li> Максимальное разрешение изображения на выходе </li>
    <li> Количество подключаемых мониторов </li>
    <li> Тип подключения </li>
</ul>
<br /><br /><br />

<h1>Накопители</h1>
<br />
<img src="../static/img/shd.jpg" class="image" />
Жесткий диск - записывающее устройство, которое используется для долговременного хранения данных, основанное на магнитных принципах записи.<br />
SSD - альтернатива жесткому диску, основанная на более быстрой, но более дорогой системе записывания данных. Таким образом твердотельные накопители имеют большую скорость записи, значительно тише в объеме и меньшие в размерах, однако могут хранить меньшие объемы данных.
<br />
<h3> Основные характеристики: </h3>
<ul>
    <li> Объем накопителя </li>
    <li> Скорость записи </li>
    <li> Интерфейс подключения </li>
    <li> Уровень шума </li>
    <li> Тип памяти (Для SSD) </li>
</ul>
<br /><br /><br />

<h1>Блок питания</h1>
<br />
<img src="../static/img/ps.jpg" class="image" />
Блок питания - компонент, формирующий напряжения для питания других элементов компьютера, а также выполняет функцию стабилизации тока и защиты от помех в электрической сети.
<br />
<h3> Основные характеристики: </h3>
<ul>
    <li> Мощность </li>
    <li> КПД </li>
    <li> Форм-фактор </li>
    <li> Уровень шума </li>
</ul>
<br /><br /><br />

<h1>Охлаждение</h1>
<br />
<img src="../static/img/cooler.jpg" class="image" />
Система охлаждения компьютера - набор средтсв для отвода тепла от комплектующих в ходе их работы. <br />
Типы: 
<ul>
    <li> Активная </li>
    <li> Пассивная </li>
    <li> Жидкостная </li>
</ul>
<br />
<h3> Основные характеристики: </h3>
<ul>
    <li> Количество развеиваемого тепла </li>
    <li> Тип </li>
    <li> Размеры установок </li>
    <li> Уровень шума </li>
</ul>
<br /><br /><br />

<h1>Корпус</h1>
<br />
<img src="../static/img/case.jpg" class="image" />
Корпус - внешняя физическая оболочка компьютера, являющаяся основой для размещения комплектующих.
<br />
<h3>> Основные характеристики: </h3>
<ul>
    <li> Размер и форм-фактор </li>
    <li> Охлаждение и продуваемость </li>
    <li> Материал корпуса </li>
</ul>
<br /><br /><br />
{% endblock %}